.chat-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 0%, rgba(0,176,255,1) 100%);
    height: 420px;
}

.chat-btn {
    background-color: #FFCA28;
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    border: #FFCA28;
   }

   .content-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 100px;
   }

   .btn-div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        font-size: x-large;
   }

   .head-chat{
    color: #FFCA28;
    font-size: 36px;
   }

   .para-chat{
    color: white;
   }