
.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 24rem;
    margin-right: 24rem;
}

.main-head{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.yellow{
    height: 4px;
    width: 100px;
    border-radius: 3px 3px 0 0;
    background-color: #ffca28;
    margin-top: 2%;
    margin-bottom: 2.7%;
}

.para{
    line-height: 1.5;
    margin-bottom: 2.7%;
}

.cards{
    width: 80%;
    margin-bottom: 40%;
}

.appointment{
    background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 0%, rgba(0,176,255,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 216px;
    width: 100%;
    color: white;
}

.repair{
    display: flex;
}

.img-rep{
    width: 420px;
}

.rep-head{
    font-size: 50px;
    font-weight: 400;
}

.content-repair{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.img-repair{
    width: 500px;
    padding-top: 30px;
}
.repair{
    height: 400px;
}

.rep-img-div{
    /* display: flex; */
    /* justify-content: center; */
}

.button{
    border: 1px solid skyblue;
    color: rgb(33, 134, 174);
    background-color: white;
    /* border-radius: 50%; */
    width: 30%;
    height: 30px;
    border-radius: 99rem;
  border-width: 2px;
}

.rep-icon{
    font-weight: bolder;
    line-height: 1.5;
}

.rep-des{
    line-height: 1.5;
}